[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Editor AUR
Comment=a GUI mode configurator for makepkg
Exec=/usr/bin/python3 /opt/editor_aur/editor_aur.py
Icon=/opt/editor_aur/icon/window_icon.svg
Terminal=false
