#headbar_app{
	background-image: url('../icon/speedaur-head.png');
	background-position: center;
	background-repeat: no-repeat;

}

#head_bar{
    background: #007acc;
    color: whitesmoke;
    font-weight: bold;
    border-radius: 5px;
}

#btn_ok{
    background: #1f7f6e;
    color: whitesmoke;
    font-weight: bold;
    border-radius: 5px;
}

#btn_cancel{
    background: #ff2626;
    color: whitesmoke;
    font-weight: bold;
    border-radius: 5px;
}

#about_msg{
    font-weight: bold;
    font-size: 16;
}

#btn_telegram{
	background: #3298ba;
	background-position: center;
	border-radius: 50%;
	background-image: url('../icon/telegram.svg');
	background-repeat: no-repeat;
	background-size: 26px;
}

#btn_github{
	background: #8034a9;
	background-position: center;
	border-radius: 50%;
	background-image: url('../icon/github.svg');
	background-repeat: no-repeat;
	background-size: 26px;
}

#btn_telegram:hover{
    animation: pulse_telegram 1.5s linear infinite reverse;
    background-position: center;
	background-size: 22px;
}

#btn_github:hover{
    animation: pulse_github 1.5s linear infinite reverse;
    background-position: center;
	background-size: 22px;
}


@keyframes pulse_telegram{
	0%{
		box-shadow: 0 0 0 0 rgba(50, 152, 186, 1);
	}

	100%{
		box-shadow: 0 0 0 8px rgba(50, 152, 186, 0);
	}
}

@keyframes pulse_github{
	0%{
		box-shadow: 0 0 0 0 rgba(128, 52, 169, 1);
	}

	100%{
		box-shadow: 0 0 0 8px rgba(128, 52, 169, 0);
	}
}

label{
	color: black;
    font-weight: bold;
}

entry, spinbutton{
	border-radius: 25px;
	border-width: 2px;
}

radio{
	-gtk-icon-source: url("../templetes/radio_inative.svg")
}

radio:checked{
	-gtk-icon-source: url("../templetes/radio_checked.svg")
}

button{
	border-width: 0px;
	padding: 8px 6px 8px 6px;
}

separator{
    background: whitesmoke;
	margin: 14px;
	border-radius: 25px;
}

notebook > header{
    background-color: #292f34;
    border-color: white;
    margin: 0px;
    padding: 10px 0px 10px 2px;
    font-weight: bold;
}

notebook > header > tabs > tab {
    background: none;
    border-color: #1089ec;
    margin: 0px;
	border-width: 0px;
}

notebook > header > tabs > tab:checked {
    background: #f3f3f3;
    border-color: #f3f3f3;
	border-width: 0px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
	color:white;
}

box{
	background-color: #f3f3f3;
}

#home{
	background-image: url("../templetes/home.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25px;
	padding: 8px 15px 8px 15px;
}

#about{
	background-image: url("../templetes/about.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25px;
	padding: 8px 15px 8px 15px;
}

#head_label{
	color: whitesmoke;
}
